@import './variables';

.devcards {
  &-button {
    height: 40px;
    width: 40px;
  }

  &-noteDetail {
    border: 3px solid pink;
    height: 500px;
    width: 500px;
  }

  &-noteItem {
    border: 3px solid pink;
    width: 500px;
  }

  &-noteItems {
    border: 3px solid pink;
    height: 500px;
    width: 500px;
  }
}