@import './variables';

.devcards {
  &-apiTester {
    border: 3px solid pink;
    width: 500px;
  }

  &-button {
    height: 40px;
    width: 40px;
  }

  &-login {
    border: 3px solid pink;
    width: 500px;
  }

  &-loginButton {
    height: 40px;
    width: 120px;
  }

  &-noteDetail {
    border: 3px solid pink;
    height: 500px;
    width: 500px;
  }

  &-noteItem {
    border: 3px solid pink;
    width: 500px;
  }

  &-noteItems {
    border: 3px solid pink;
    height: 500px;
    width: 500px;
  }

  &-signup {
    border: 3px solid pink;
    width: 500px;
  }

  &-signupButton {
    height: 40px;
    width: 120px;
  }
}