@import './variables';
@import './mixins/body';
@import './mixins/buttonIcon';
@import './mixins/enabledPrimaryIconButton';

.Notes {
  display: flex;
  flex-direction: column;
  padding: $dimen-noteMargin 0;

  &-action {
    @include enabledPrimaryIconButton;
    flex-shrink: 0;
  }

  &-actionIcon {
    @include buttonIcon;
  }

  &-actions {
    display: flex;
    flex-shrink: 0;
    padding: 0 $dimen-noteMargin;
  }

  &-body {
    @include body;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: 1px;
  }

  &-note {
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px $dimen-noteMargin;

    &:hover {
      box-shadow: inset -5px 0 0 0 $color-blue;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &-note--selected {
    box-shadow: inset -5px 0 0 0 $color-blue;
  }

  &-notes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 1px;
    overflow-y: auto;
  }

  &-title {
    @include body;
    font-weight: 500;
  }
}