$fontFamily-firaSans: 'Fira Sans', sans-serif;

$color-blue: #1F91E5;
$color-border: #C2C8CC;
$color-button: #162129;
$color-card: #ECECEC;
$color-navbar: #25333C;
$color-primaryText: #162129;
$color-shadow: rgba(#162129, 0.9);