$fontFamily-firaSans: 'Fira Sans', sans-serif;

$color-black: #162129;
$color-blue: #1F91E5;
$color-border: #C2C8CC;
$color-card: #ECECEC;
$color-navbar: #25333C;
$color-secondaryText: #A1ADB5;
$color-shadow: rgba(#162129, 0.9);
