@import '../variables';
@import './button';

@mixin disabledPrimaryButton {
  @include button;
  background-color: $color-black;
  border-radius: $dimen-borderRadius;
  color: white;
  min-width: 100px;
  opacity: 0.5;
  padding: 8px 10px;
}