$fontFamily-firaSans: 'Fira Sans', sans-serif;

$color-black: #162129;
$color-blue: #1F91E5;
$color-border: #C2C8CC;
$color-card: #ECECEC;
$color-navbar: #162129;
$color-red: scale-color(#FF4136, $lightness: -40%);
$color-secondaryText: #A1ADB5;
$color-selected: scale-color(#A1ADB5, $lightness: 60%);
$color-shadow: rgba(#162129, 0.9);
$color-tooltip: #162129;

$dimen-borderRadius: 3px;
$dimen-fieldMargin: 20px;
$dimen-letterSpacing: 2px;
$dimen-navbarMargin: 20px;
$dimen-noteMargin: 30px;
$dimen-primaryIconButton: 40px;
