@import '../variables';
@import '../mixins/body';
@import '../mixins/buttonIcon';
@import '../mixins/disabledPrimaryIconButton';
@import '../mixins/enabledPrimaryIconButton';
@import '../mixins/marker';
@import '../mixins/resetInput';
@import '../mixins/resetTextArea';

.Note {
  display: flex;
  flex-direction: column;
  padding: $dimen-noteMargin 0;

  &-action {
    @include disabledPrimaryIconButton;
    flex-shrink: 0;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-action--enabled {
    @include enabledPrimaryIconButton;
  }

  &-actionGroup {
    display: flex;
    flex-shrink: 0;
  }

  &-actionIcon {
    @include buttonIcon;
  }

  &-actions {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0 $dimen-noteMargin;
  }

  &-body {
    @include resetTextArea;
    @include body;
    flex-grow: 1;
    margin-top: 10px;
    min-height: 1px;
    overflow-y: auto;
    padding: 0 $dimen-noteMargin;

    &::placeholder {
      color: $color-secondaryText;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: 1px;
  }

  &-note {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 1px;
  }

  &-pending {
    @include marker;
    position: absolute;
    right: $dimen-noteMargin;
    top: calc(50% - 5px);
  }

  &-title {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0 $dimen-noteMargin;
  }

  &-titleInput {
    @include resetInput;
    @include body;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 500;

    &::placeholder {
      color: $color-secondaryText;
    }
  }
}