@import '../variables';

.apiTester {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &-button {
    flex-shrink: 0;
    height: $dimen-actionButton;
    min-width: 120px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}