@import '../variables';
@import '../mixins/resetButton';
@import '../mixins/resetFont';

.button {
  @include resetButton;
  background-color: $color-button;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  opacity: 0.5;

  &.button--enabled {
    cursor: pointer;
    opacity: 1;

    &:hover {
      background-color: $color-blue;
    }
  }
}