@import '../variables';

.login {
  display: flex;
  flex-direction: column;

  &-actionButton {
    flex-shrink: 0;
    height: $dimen-actionButton;
    width: 120px;
  }

  &-actions {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    margin-top: 20px;
  }

  &-field {
    flex-shrink: 0;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &-fields {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}