@import '../variables';
@import '../mixins/resetFont';

.noteDetail {
  @include resetFont;
  padding: 30px;

  &-body {
    color: $color-primaryText;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
  }

  &-title {
    color: $color-primaryText;
    font-weight: 500;
    font-size: 24px;
  }
}