@import '../variables';
@import '../mixins/resetFont';
@import '../mixins/resetInput';
@import '../mixins/resetTextArea';

.noteDetail {
  display: flex;
  flex-direction: column;
  padding-bottom: $dimen-noteMargin;
  padding-top: $dimen-noteMargin;

  &-actionButton {
    flex-shrink: 0;
    height: 40px;
    width: 40px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-actionGroup {
    display: flex;
    flex-shrink: 0;
  }

  &-actions {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding-left: $dimen-noteMargin;
    padding-right: $dimen-noteMargin;
  }

  &-body {
    @include resetFont;
    @include resetTextArea;
    color: $color-primaryText;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 1px;
    overflow-y: auto;
    padding-left: $dimen-noteMargin;
    padding-right: $dimen-noteMargin;
  }

  &-title {
    @include resetFont;
    @include resetInput;
    color: $color-primaryText;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 500;
    padding-left: $dimen-noteMargin;
    padding-right: $dimen-noteMargin;
  }
}