@import '../variables';
@import '../mixins/resetFont';

.noteItem {
  @include resetFont;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: inset -5px 0 0 0 $color-blue;
  }

  &.noteItem--selected {
    box-shadow: inset -5px 0 0 0 $color-blue;
  }

  &-body {
    color: $color-primaryText;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 300;
    padding-left: $dimen-noteMargin;
    padding-right: $dimen-noteMargin;
  }

  &-title {
    color: $color-primaryText;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    padding-left: $dimen-noteMargin;
    padding-right: $dimen-noteMargin;
  }
}