@import '../variables';
@import './disabledPrimaryButton';

@mixin disabledPrimaryIconButton {
  @include disabledPrimaryButton;
  min-width: 0;
  height: $dimen-primaryIconButton;
  padding: 0;
  width: $dimen-primaryIconButton;
}